@use '../layout/flex' as *;
@use '../base/fontSize' as *;
@use '../base/responsive' as *;

.cover {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-center {
  @include flex-center;
}

.title-2 {
  @include text-lg;
  font-weight: 700;

  @include screen-min(md) {
    @include text-2xl;
  }

  @include screen-min(lg) {
    @include text-4xl;
  }
}
